
/*资讯详情右边*/
.shopf_right{ width: 977px; float: left; margin-left: 10px; margin-top: 10px; border: 1px solid #e5e5e5; background: #fff;}
.shopf_right .dang_top{ width: 962px; height: 33px; background: #ab0c06; padding-left: 15px; font-size: 14px; color: #fff; line-height: 33px;}
.shopf_right .dang_top a{ color: #fff; padding: 0 8px;}
.fangda{ width: 977px; height: 376px;}
.lxzoom{ float:left; width: 276px; height: 294px; padding: 10px 60px 0 10px;}
.lxzoom em{display: inline-block; width: 100px; height: 21px; background: url(img/fx_frend.gif); margin: 9px 0 0 38px;}
.lxzoom i{display: inline-block; width: 100px; height: 21px; background: url(img/sc_cp.gif); margin-left: 6px;}

/*//*/
.fangda{ width: 977px; height: 375px; border-bottom: 1px solid #e5e5e5;}
.fangda .fangda_right{ width: 619px; height: 356px; margin: 10px 0;float: left; border-left: 1px solid #e5e5e5; padding-left: 10px;}
.fangda .fangda_right .yaya{ display: inline-block; width: 610px; height: 40px; line-height: 40px;text-align: center; border-bottom: 1px solid #e5e5e5; font-size: 12px;}
.fangda_right ul li{ font-size: 12px; line-height: 25px;}
.fangda_right ul li strong{ color: #e22a25;}
.fangda_right .yaya_1{ padding-top: 10px;}
.fangda_right .yaya_2{ width: 409px; height: 151px; border: 1px solid #e5e5e5; margin-top: 4px;}
.yaya_2 .span1{ display: inline-block; width: 250px; height: 20px; padding: 12px 0 0 7px;}
.yaya_2 .span1 em{ display: inline-block; width: 40px; height: 18px; border: 1px solid #e5e5e5; margin-right: 10px; line-height: 18px; text-align: center;}
.yaya_2 .span2{ display: inline-block; width: 400px; height: 20px; padding: 10px 0 0 7px;}
.yaya_2 .span2 em{ display: inline-block; width: 28px; height: 18px; border: 1px solid #e5e5e5; margin-right: 10px; line-height: 18px; text-align: center;}
.yaya_2 .span3{ display: inline-block; margin: 12px 0 0 7px;}
.yaya_2 .span3 input{ width: 82px; height: 17px; border: 1px solid #e5e5e5;}
.yaya_2 .span3 em{ color: #989998;}
.yaya_2 img{ margin-left: 7px;}
.special{ color: #989998; padding-top: 6px;}
.special b{ font-weight: bold;}
#ckepop{ width: 400px;}
#ckepop a{ color: #000; display: inline-block; width: 55px;padding-left: 15px;}

/*人气组合，推荐搭配*/
.qing{ width: 977px; height: 47px; border-bottom: 2px solid #c8c8c8;}
/*.addspan 用来做点击函数的addClass*/
.qing span{display: inline-block; width: 84px; height: 27px; margin-top: 20px; font-size: 14px; color: #333333; line-height: 27px; text-align: center; font-weight: bold;}
.qing .addspan{ display: inline-block; width: 84px; height: 27px; background: url(img/dzuhe.gif); margin-top: 20px; font-size: 14px; color: #fff; line-height: 27px; text-align: center; font-weight: bold;}
.qing ul{ float:left; width: 977px; height: 310px; border: 1px solid #e6e6e6; border-top: none; padding-top: 20px; padding-left: 14px;}
.qing ul li{ width: 160px; padding-right: 32px; float: left;}
.qing ul img{ padding-left: 7px;}
.qing ul p{ font-size: 12px; padding-top: 4px; text-align: center;}
.qing .huihui{ padding-top: 8px;color: #979797;}
.qing ul em{ color: #ff0000;}


/*红色点击效果 ==》 .hover 为点击时的class*/
.pb_changetable ul{ float:left; width:958px; height:30px;background:url(img/nbg.gif) repeat-x;  background-position: bottom;padding-left:20px; border-right:1px solid #D9D9D9;border-left:1px solid #D9D9D9; padding-top:10px; margin-top: 10px;}
.pb_changetable ul li{ float:left;width:99px;color:#333333;font-weight:bold;height:27px;text-align:center;cursor:pointer;font-size:14px;line-height:27px;margin:0px 0px 0 4px;background:url(img/dan_37.gif) no-repeat;}
.pb_changetable ul li.hover{color:#e22927;background:url(img/dan_34.gif) no-repeat;height:30px;line-height:30px;}

/*一大堆图片来袭*/
.pb_coursedetail{ line-height:24px;padding:20px;border:1px solid #d9d9d9;border-top:none; width:938px;overflow:hidden;}
.pb_coursedetail p{ text-align: center; color: #f00; font-family: 12px;}

/*咨询内容*/
.zixun{ float: left; width: 977px; height: 307px; border:1px solid #e6e6e6 ; position: relative;}
.zixun .xiaohong {width: 977px; height: 38px; background: url(img/nbg.gif) repeat-x; margin-top: 10px; margin-bottom: 13px;}
.zixun .xiaohong span{ display:inline-block; float:left; width: 96px; height: 28px; background: url(img/dan_34.gif) no-repeat; margin-left: 19px; font-size: 12px; color: #d90000; line-height: 28px; text-align: center;}
.zixun form{}
.zixun p{ margin-top: 10px;}
.zixun label{ display:inline-block; width: 98px; text-align: right; float: left;}
.zixun input{ width: 129px; height: 17px; float: left;}
.zixun textarea{ width: 475px; height: 95px; float: left;}
.zixun .jue{ position: absolute; left: 280px; top:210px}
.zixun .dui{ position: absolute; right: 60px; bottom:1px}
.zixun .duide{ position: absolute; right: 1px; bottom:1px}

/*最后一个*/
.xin{height: 400px;}
.xin span{ margin-top:0 ;}
.xin .qu{ float: right; padding-top: 10px;}
.xin p{ margin-top:0 ;}
