
/*资讯详情左边*/
.shopimforbigbox{ width: 100%; float: left; background: #ededed;}
.shopimforbigbox .shopimforbox{ margin: 0 auto; width: 1200px;}

/*畅销排行榜*/
.shopf_left{ float:left; width: 210px; margin-top: 10px; border-top: 1px solid #e2d5bc; background: #fff;}
.shopf_left .mianbao { padding: 10px 0;}
.shopf_left .chanlist{ width: 208px; height: 312px;  border: 1px solid #e6e6e6; border-top:1px solid #c10001 ;}
.shopf_left .chanlist .lala{ float:left; width:208px;height: 31px; background: #ab0c06; font-size: 14px; line-height: 31px; text-align: center; color: #fff; font-weight: bold;}

.chanlist ul{ height: 282px; float: left;}
.chanlist ul span{ color: #cc0048; font-size: 8px;}
.chanlist ul li{ height: 40px; border-bottom: 1px solid #e6e6e6; padding-left: 7px; line-height: 40px;}
.chanlist ul li a{ color: #000; font-size: 12px;}
.chanlist ul .list_first{ width: 208px; height: 66px;}
.list_first span{ display:inline-block; width: 19px; height: 66px; float: left;}
.list_first img{ padding: 18px 11px; }
.list_first em{ display:inline-block;width: 133px; float: right; padding-top: 8px; font-size: 12px; line-height: 18px;}
.list_first a{ color: #000;}
.list_first i{display:inline-block; float: left; color:#ff6600; font-size: 9px; font-weight: bold; padding-top: 4px;}

.tuilist{ margin-bottom: 10px;}
.tuilist ul li{ float: left; padding-left: 0;}

/*最近浏览的商品*/
#zui_box{ height: 370px;}
.zui_top em{ padding-left: 54px; font-size: 11px;}
.zui_ne{ float:left;width:190px; height:80px; margin: 0 9px; border-bottom: 1px solid #cdcdcd;}
.zui_ne img{ padding-top: 18px;}
.zui_ne ul{width: 133px; padding:13px 0 8px 4px; float: right;}
.zui_ne .heise{color: #000;}
.zui_ne ul li{ height: 20px; line-height: 20px; font-size: 12px; border-bottom: none; color: #979897;}
.zui_ne ul li i{ color: #e32a2a;}

/*资讯详情右边*/
.shopf_right{ width: 977px; float: left; margin-left: 10px; margin-top: 10px; border: 1px solid #e5e5e5; background: #fff;}
.shopf_right .dang_top{ width: 962px; height: 33px; background: #ab0c06; padding-left: 15px; font-size: 14px; color: #fff; line-height: 33px;}
.shopf_right .dang_top a{ color: #fff; padding: 0 8px;}
.fangda{ width: 977px; height: 376px;}
.lxzoom{ float:left; width: 276px; height: 294px; padding: 10px 60px 0 10px;}
.lxzoom em{display: inline-block; width: 100px; height: 21px; background: url(img/fx_frend.gif); margin: 9px 0 0 38px;}
.lxzoom i{display: inline-block; width: 100px; height: 21px; background: url(img/sc_cp.gif); margin-left: 6px;}

/*//*/
.fangda{ widows: 977px; height: 375px; border-bottom: 1px solid #e5e5e5;}
.fangda .fangda_right{ width: 619px; height: 356px; margin: 10px 0;float: left; border-left: 1px solid #e5e5e5; padding-left: 10px;}
.fangda .fangda_right .yaya{ display: inline-block; width: 610px; height: 40px; line-height: 40px;text-align: center; border-bottom: 1px solid #e5e5e5; font-size: 12px;}
.fangda_right ul li{ font-size: 12px; line-height: 25px;}
.fangda_right ul li strong{ color: #e22a25;}
.fangda_right .yaya_1{ padding-top: 10px;}
.fangda_right .yaya_2{ width: 409px; height: 151px; border: 1px solid #e5e5e5; margin-top: 4px;}
.yaya_2 .span1{ display: inline-block; width: 250px; height: 20px; padding: 12px 0 0 7px;}
.yaya_2 .span1 em{ display: inline-block; width: 40px; height: 18px; border: 1px solid #e5e5e5; margin-right: 10px; line-height: 18px; text-align: center;}
.yaya_2 .span2{ display: inline-block; width: 400px; height: 20px; padding: 10px 0 0 7px;}
.yaya_2 .span2 em{ display: inline-block; width: 28px; height: 18px; border: 1px solid #e5e5e5; margin-right: 10px; line-height: 18px; text-align: center;}
.yaya_2 .span3{ display: inline-block; margin: 12px 0 0 7px;}
.yaya_2 .span3 input{ width: 82px; height: 17px; border: 1px solid #e5e5e5;}
.yaya_2 .span3 em{ color: #989998;}
.yaya_2 img{ margin-left: 7px;}
.special{ color: #989998; padding-top: 6px;}
.special b{ font-weight: bold;}
#ckepop{ width: 400px;}
#ckepop a{ color: #000; display: inline-block; width: 55px;padding-left: 15px;}

/*人气组合，推荐搭配*/
.qing{ width: 977px; height: 47px; border-bottom: 2px solid #c8c8c8;}
/*.addspan 用来做点击函数的addClass*/
.qing span{display: inline-block; width: 84px; height: 27px; margin-top: 20px; font-size: 14px; color: #333333; line-height: 27px; text-align: center; font-weight: bold;}
.qing .addspan{ display: inline-block; width: 84px; height: 27px; background: url(img/dzuhe.gif); margin-top: 20px; font-size: 14px; color: #fff; line-height: 27px; text-align: center; font-weight: bold;}
.qing ul{ float:left; width: 977px; height: 233px; border: 1px solid #e6e6e6; border-top: none;}
